In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 9.6 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 16.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [2]:
from pymongo import MongoClient

In [ ]:
client=MongoClient("mongodb+srv://...Your Connectivity URL....")

In [22]:
db=client["rohandb"]

In [23]:
coll=db["cars"]

In [24]:
for data in coll.find():
  print(data)

{'_id': ObjectId('673b90db77efda542e86b01d'), 'name': 'swift', 'company': 'maruti suzuki', 'price': 560000, 'rating': 7.2}
{'_id': ObjectId('673b936277efda542e86b01e'), 'name': 'Model S', 'company': 'Tesla', 'price': 80000, 'type': 'Electric', 'rating': 4.9}
{'_id': ObjectId('673b936277efda542e86b020'), 'name': 'Mustang', 'company': 'Ford', 'price': 55000, 'type': 'Sports', 'rating': 4.7}
{'_id': ObjectId('673b936277efda542e86b021'), 'name': 'Camry', 'company': 'Toyota', 'price': 30000}
{'_id': ObjectId('673b936277efda542e86b022'), 'name': 'A4', 'company': 'Audi', 'price': 45000, 'type': 'Sedan'}
{'_id': ObjectId('673b936277efda542e86b023'), 'name': 'X5', 'company': 'BMW', 'price': 60000, 'type': 'SUV', 'rating': 4.8}
{'_id': ObjectId('673b936277efda542e86b024'), 'name': 'Model 3', 'company': 'Tesla', 'price': 45000, 'type': 'Electric'}
{'_id': ObjectId('673b936277efda542e86b025'), 'name': 'Accord', 'company': 'Honda', 'price': 28000, 'type': 'Sedan', 'rating': 4.5}
{'_id': ObjectId('673b936277efda542e86b026'), 'name': 'F-150', 'company': 'Ford', 'price': 35000, 'rating': 4.6}
{'_id': ObjectId('673b936277efda542e86b027'), 'name': 'RAV4', 'company': 'Toyota', 'price': 32000, 'type': 'SUV', 'rating': 4.4}
{'_id': ObjectId('673b936277efda542e86b028'), 'name': 'Q7', 'company': 'Audi', 'price': 65000}
{'_id': ObjectId('673b936277efda542e86b029'), 'name': 'M3', 'company': 'BMW', 'price': 70000, 'type': 'Sports', 'rating': 4.9}
{'_id': ObjectId('673b936277efda542e86b02a'), 'name': 'Cybertruck', 'company': 'Tesla', 'price': 40000, 'rating': 4.7}
{'_id': ObjectId('673b936277efda542e86b02b'), 'name': 'Fit', 'company': 'Honda', 'price': 20000}
{'_id': ObjectId('673b936277efda542e86b02c'), 'name': 'Explorer', 'company': 'Ford', 'price': 50000, 'type': 'SUV'}
{'_id': ObjectId('673b936277efda542e86b02d'), 'name': 'Highlander', 'company': 'Toyota', 'price': 35000, 'type': 'SUV', 'ranking': 3}
{'_id': ObjectId('673b936277efda542e86b02e'), 'name': 'A8', 'company': 'Audi', 'price': 90000, 'type': 'Luxury', 'rating': 4.9}
{'_id': ObjectId('673b936277efda542e86b02f'), 'name': 'X7', 'company': 'BMW', 'price': 80000}
{'_id': ObjectId('673b936277efda542e86b030'), 'name': 'Model Y', 'company': 'Tesla', 'price': 48000, 'type': 'Electric', 'ranking': 1}
{'_id': ObjectId('673b936277efda542e86b031'), 'name': 'Corolla', 'company': 'Toyota', 'price': 22000}

In [27]:
coll=db["films"]

In [28]:
for data in coll.find():
  print(data)

{'_id': ObjectId('67399d5807b60265ca86b01d'), 'name': 'bhool bhulaiya 3', 'genre': 'horror', 'relyr': 2024, 'language': 'hindi'}
{'_id': ObjectId('673b9a0077efda542e86b032'), 'title': 'Inception', 'director': 'Christopher Nolan', 'genre': 'Sci-Fi', 'releaseYear': 2010, 'rating': 4.8}
{'_id': ObjectId('673b9a0077efda542e86b033'), 'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'releaseYear': 1972, 'rating': 4.9}
{'_id': ObjectId('673b9a0077efda542e86b034'), 'title': 'Parasite', 'director': 'Bong Joon-ho', 'genre': 'Thriller', 'releaseYear': 2019}
{'_id': ObjectId('673b9a0077efda542e86b035'), 'title': 'Avengers: Endgame', 'genre': 'Action', 'releaseYear': 2019, 'rating': 4.7}
{'_id': ObjectId('673b9a0077efda542e86b036'), 'title': 'The Dark Knight', 'director': 'Christopher Nolan', 'genre': 'Action', 'releaseYear': 2008, 'rating': 4.9}
{'_id': ObjectId('673b9a0077efda542e86b037'), 'title': 'Titanic', 'director': 'James Cameron', 'releaseYear': 1997, 'genre': 'Romance'}
{'_id': ObjectId('673b9a0077efda542e86b038'), 'title': 'Joker', 'director': 'Todd Phillips', 'releaseYear': 2019, 'genre': 'Drama', 'rating': 4.6}
{'_id': ObjectId('673b9a0077efda542e86b039'), 'title': 'Pulp Fiction', 'director': 'Quentin Tarantino', 'releaseYear': 1994}
{'_id': ObjectId('673b9a0077efda542e86b03a'), 'title': 'The Matrix', 'director': 'Lana & Lilly Wachowski', 'genre': 'Sci-Fi', 'releaseYear': 1999, 'rating': 4.7}
{'_id': ObjectId('673b9a0077efda542e86b03b'), 'title': 'Forrest Gump', 'director': 'Robert Zemeckis', 'releaseYear': 1994, 'rating': 4.8}
{'_id': ObjectId('673b9a0077efda542e86b03c'), 'title': 'La La Land', 'genre': 'Musical', 'releaseYear': 2016}
{'_id': ObjectId('673b9a0077efda542e86b03d'), 'title': 'Interstellar', 'director': 'Christopher Nolan', 'genre': 'Sci-Fi', 'releaseYear': 2014, 'rating': 4.9}
{'_id': ObjectId('673b9a0077efda542e86b03e'), 'title': "Schindler's List", 'director': 'Steven Spielberg', 'releaseYear': 1993, 'genre': 'Historical', 'rating': 4.9}
{'_id': ObjectId('673b9a0077efda542e86b03f'), 'title': 'Gladiator', 'director': 'Ridley Scott', 'releaseYear': 2000, 'genre': 'Historical'}
{'_id': ObjectId('673b9a0077efda542e86b040'), 'title': 'Avatar', 'director': 'James Cameron', 'releaseYear': 2009, 'genre': 'Sci-Fi', 'rating': 4.7}
{'_id': ObjectId('673b9a0077efda542e86b041'), 'title': 'The Lion King', 'genre': 'Animation', 'releaseYear': 1994, 'ranking': 1}
{'_id': ObjectId('673b9a0077efda542e86b042'), 'title': 'The Shawshank Redemption', 'director': 'Frank Darabont', 'releaseYear': 1994, 'rating': 4.9}
{'_id': ObjectId('673b9a0077efda542e86b043'), 'title': 'Whiplash', 'director': 'Damien Chazelle', 'genre': 'Drama', 'releaseYear': 2014}
{'_id': ObjectId('673b9a0077efda542e86b044'), 'title': 'Frozen', 'genre': 'Animation', 'releaseYear': 2013, 'rating': 4.5}
{'_id': ObjectId('673b9a0077efda542e86b045'), 'title': 'Mad Max: Fury Road', 'director': 'George Miller', 'genre': 'Action', 'releaseYear': 2015}

In [29]:
client.close()